//- CSS
link(rel='stylesheet', type='text/css', href='/css/treeView.css')
link(rel='stylesheet', type='text/css', href='/css/treeViewMsgDisplay.css')
link(rel='stylesheet', type='text/css', href='/css/treeViewControls.css')
link(rel='stylesheet', type='text/css', href='/css/IMClient.css')

//- JQuery
script(type='text/javascript', src='/js/jquery-1.4.2.min.js')

//- treeView JS files
script(type='text/javascript', src='/js/funChain.js')
script(type='text/javascript', src='/js/treeView/common.js')
script(type='text/javascript', src='/js/treeView/node.js')
script(type='text/javascript', src='/js/treeView/nodeViewControl.js')
script(type='text/javascript', src='/js/treeView/nodeView.js')
script(type='text/javascript', src='/js/treeView/treeSettings.js')
script(type='text/javascript', src='/js/treeView/tree.js')
script(type='text/javascript', src='/js/treeView/treeViewSettingsEvents.js')
script(type='text/javascript', src='/js/treeView/treeViewSettings.js')
script(type='text/javascript', src='/js/treeView/treeView.js')

//- IMClient JS files
script(type='text/javascript', src='/js/MessageQueue.js')
script(type='text/javascript', src='/js/IMClient.js')
