body {
	background: #EFEFFF;
	font-family: verdana, serif;
	margin:0;
	height:100%;
	width:100%;
	position:absolute;
}

.im_main {
	width:100%;
	height:100%;

}

#connect_view, #join_view {
	border: outset 1px;
	padding: 20px;
	background: white;
	color:#00A;
	position: relative;
	top: 150px;
	width: 500px;
}

.join_msg {
   padding-bottom:16px;
   color:maroon;
}

#loading_msg {
	top:175px;
	position:relative;
	color:red;
	font-size:20px;
}
#channel_view {
	position:relative;
	width:100%;
	height:100%;
}
#channel_view_main {
	position:relative;
	width:100%;
}
#sidebar {
	background: white;
	border: 1px solid #d1d1d1;
	height:100%;
	padding-bottom:20px;
	font-size:12px;
	position:relative;
	float:left;
	width:200px;
	border:2px solid white;
	overflow:hidden;
	height:100%;
}
#status_bar {
	background:none repeat scroll 0 0 #035;
	/*border-bottom:1px solid black;
	border-top:1px solid black;*/
	color:#00C0FF;
}

#msg_browser {
	background: #F4F4FF;
	padding-bottom:20px;
	height:100%;

        border: 1px solid gray;
	float:left;
	position:relative;

}
#msg_display {
	background: #F4F4FF;
	padding-bottom:20px;
	height:100%;

        border: 1px solid gray;
	float:left;
	position:relative;
	width:40%;
}
#sidebar_grippy,
#msg_view_grippy {
    float:left;
    height:100%;

    width: 5px;
    background: gray;
    cursor: move;
}
#response_text {
	border:1px solid #0000AA;
        font-size: 1em;
	font-family: verdana;
	width:100%;
}
#multiparent_display {
    padding-top:20px;
    padding-left:10px;
    font-size:10px;
}
#message_list {
    list-style: none;
    padding-left:3px;
    min-height:200px;
    max-height:250px;
    overflow:auto;
}
#clients_list {

}
.sidebar_box{
	background: #F4F4FF;
	border:1px outset;
	width:95%;
	margin:5px;
        -webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.sidebar_box_title {
	font-weight: bold;
}
.sidebar_box_content {

}

div.node_unread {
	background: #EFEFEF;
	border: none;
	color: gray;
}
div.node_displayed {
	/*border: 2px solid lightGreen;*/
	color:blue;
}
a.msgbrowser_text {
	color:inherit;
	cursor:default;
	text-decoration:none;
}

li.queuedNode {
    cursor:pointer;
    border-bottom: 1px solid #DEF;
    background: #FFFFFF;

}
li.queuedNode:hover {
    background-color:#0033dd;
    color:#FFF;
}

a.statusBarAction {
    float:right;
    padding-right:20px;
    text-decoration: none;
}
a.statusBarAction:hover {
    text-decoration: underline;
}
.clear_both {
   clear:both;
}

#msg_composer {
   width:100%;
   position:fixed;
   bottom:0px;
   padding: 5px;
   background: white;
}

#shader {
   position:absolute;
   left:0;
   top:0;
   background-color:black;
   opacity:0.5;
   display:none;
   width:100%;
   height:100%;
}

#help {
   position:absolute;
   top:50px;
   font-size: 12px;
   padding:20px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   display:none;
   width:500px;
   background:#fff;
}

p.about {
   text-align:center;
}

#debug_container {
   font-size:8px;
   position:fixed;
   bottom:0;
   right:0;
   background:#EFEFF;
   border: 1px solid black;
}
#debug {
   max-height:200px;
   width:500px;
   overflow:auto;
   display:none;
}
