.tv_md {
	overflow:auto;
	background-color:#e0e0fe;
}

ul.tv_ul_md {
	list-style-type:none;
	padding:1px;
	margin-left:1.8em;
        border-left: 1px dotted #AAA;
}

ul.tv_ul_root_md {
	border-left:none;
	padding-left:0;
}

ul.tv_root_ul_md {

}

li.tv_li_md {
	/*position:relative;*/
}

div.tv_node_md {
	background-color: white;
	border-color: lightBlue;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	/*border-style: solid;
	border-width: 1px;*/
	float: left;
	font-family: verdana, serif;
	font-size: 12px;
	margin: 1px;
	max-width: 250px;
	min-width: 140px;
	overflow: hidden;
	position: relative;
}
div.tv_node_md:hover {
	background-color:#0033dd;
	color:#FFF;
}
div.tv_node_hidden_md {
	display:none;
}
div.tv_node_selected_md {
	border-color:#eeffcc;
	border-top-style:solid;
	border-bottom-style:solid;
        border-style:solid;
	border-width:4px;	
	background:#FFA;
	margin-top:2px;
	margin-bottom:2px;	
}

div.tv_node_controls_md {
	
}

div.tv_node_controls_l_md { 
	float:left;
}

div.tv_node_controls_r_md {
	float:right;
}
div.tv_node_controls_out_md {

}



div.tv_node_icon_md {
	display:none;
}

div.tv_node_main_md{	
	min-height: 16px;
	margin:5px;
	word-wrap: break-word;
        clear: both;
}
div.tv_control_spacer_md {
	width:16px;
	height:16px;
	float:left;	
        display:none;
}


div.tv_connector_md {
}
