div.tv_node_control {
	float:left;
	min-width:16px;
	min-height:16px;
	cursor:pointer;	
}


div.tv_control_del {
	background-image: url('../../../icons/remove.png');
}
div.tv_control_expand {
	background-image: url('../../../icons/maximize.gif');
}
div.tv_control_collapse {
	background-image: url('../../../icons/minimize.gif');
}
div.tv_control_encap {
	background:black;	
}

div.tv_control_out_text {
        font-size: 9px;
	padding-left: 8px;
}
div.tv_control_out_text:hover {
	color:blue;
}

div.tv_control_multiparent {
    background-image: url('../../../icons/multi.gif');
}

