.tv_tv2 {
	overflow:auto;
	background-color:#e0e0fe;
}

ul.tv_ul_tv2 {
	list-style-type:none;
	padding:1px;
	margin-left:3em;
}

ul.tv_ul_root_tv2 {
	border-left:none;
	padding-left:0;
}

ul.tv_root_ul_tv2 {

}

li.tv_li_tv2 {
	position:relative;
}

div.tv_node_tv2 {
	float:left;
	font-family:verdana,serif;
	font-size:11px;
	overflow:hidden;
	width:75px;
	
	border-color:white;
	border-style:solid;
	border-width:1px;
	background-color:#FEEFF6;
	position:relative;
}
div.tv_node_tv2:hover {
	background-color:black;
	color:#FFF;
}
div.tv_node_hidden_tv2 {
	display:none;
}
div.tv_node_selected_tv2 {
	border-color:#eeffcc;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:4px;	
	background:white;
	margin-top:2px;
	margin-bottom:2px;	
}

div.tv_node_controls_tv2 {
	
}

div.tv_node_controls_l_tv2 { 
	float:left;
}

div.tv_node_controls_r_tv2 {
	float:right;
}
div.tv_node_controls_out_tv2 {

}


div.tv_node_icon_tv2 {
	display:none;
}

div.tv_node_main_tv2{	
	min-height: 16px;
	word-wrap: break-word;
}


div.tv_connector_tv2 {
}

